ssh_danger() {
    gnome-terminal --window-with-profile=danger -- ssh "$1"
}

detach() {
  "$@" 1>/dev/null 2>/dev/null &
  disown
}

start_work() {
    detach google-chrome
    detach slack
    detach spotify
    detach thunderbird
    detach code

    gnome-terminal -- sh -c "cd \"$WORK_FOLDER\" || exit 1; docker compose up -d; ./start-services.sh;"
    
    exit
}

git_redate() {
  git_date=$(date -d "$1" -R)
  GIT_COMMITTER_DATE="$git_date" git commit --amend --date="$git_date" --no-edit
}

upgrate() {
    sudo apt update && sudo apt upgrade -y
}
