git_redate() {
    local git_date
    git_date=$(date -d "$1" -R)
    GIT_COMMITTER_DATE="$git_date" git commit --amend --date="$git_date" --no-edit
}

upgrate() {
    sudo apt update && sudo apt upgrade -y
}

docker_clean() {
    docker stop $(docker ps -q)
    docker rm $(docker ps -a -q)
}

c() {
    clear
}
