[fetch]
	prune = true
[merge]
  ff = false
[pull]
  rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[alias]
	uncommit = reset --soft HEAD~1
# Keep Git identity specific to each computer.
[include]
	path = ~/.gitconfig.local
